# Firebase Configuration
VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=lakshya-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lakshya-2026
VITE_FIREBASE_STORAGE_BUCKET=lakshya-2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=675947155217
VITE_FIREBASE_APP_ID=1:675947155217:web:606d6469cc1b46e90206b0
VITE_FIREBASE_MEASUREMENT_ID=G-1TWLF8M7P9
